.fondo{
        -fx-background-insets: 0,1,2;
        -fx-text-fill: black;
        -fx-font-size: 14px;
}
.boton{
     -fx-background-color: #3CA9FF;
     -fx-background-insets: 0,1,2,3;
     -fx-background-radius: 3,2,2,2;
     -fx-text-fill: white;
     -fx-font-size: 12px;
}
.boton:hover{-fx-background-color: #1C82D3}

.genero{
     -fx-background-color: #3CA9FF;
     -fx-background-insets: 0,1,2,3;
     -fx-background-radius: 3,2,2,2;
     -fx-padding: 5 5 5 5;
     -fx-text-fill: white;
     -fx-font-size: 12px;
}

.genero:hover{-fx-background-color: #1C82D3}


